/* Bordered form */
form {
  width: 100%;
}

body{
  background-color: #ffff;
  width: 100%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border:   5px solid black;
  box-sizing: border-box;
 
}


/* Set a style for all buttons */ button { background-color: black; color:
white; padding: 14px 20px; margin: 8px 0; border: solid; border-color: black;
cursor: pointer; width: 100%; }

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.topic {
  text-align: center;
  padding-top: 100px;
  font-size: 50px;
  padding-bottom: 0px;
  font-style: oblique;
}

/* Add padding to containers */
.container {
  padding: 16px;
}






